/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Philosopher&display=swap");

/*Asterisk wildcard selector to override all default styles on the page added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Philosopher", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}

/* Hero section */

#heroimage {
    position: relative;
    width: 100%;
    /*Background color used if the image is unavailable*/
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*cover-text*/
#cover-text {
    background-color: rgb(183, 200, 226, 0.2);
    font-size: 70%;
    position: absolute;
    width: 50%;
    min-height: 50px;
    padding: 10px;
    top: 25%;
}


#cover-text>h2,
#cover-text>h3 {
    color: #3a3a3a;
}

/*experience-text under hero-image*/
#experience {
    font-size: 150%;
    padding: 50px;
    font-style: italic;
    text-align: center;
    background-color: rgb(220, 173, 170, 0.2);
    align-items: flex-start;
}

/*contact-section*/
#contact {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 270px;
    display: flex;
    background: url("../images/snowflake.jpg") no-repeat center center/cover;
    color: #3a3a3a;
    font-size: 90%;
}

.contact-box {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    font-size: 120%;
    color: #3a3a3a;
}

.contact-box p {
    font-weight: bolder;
}

/*courses-section*/

#courses {
    width: 90%;
    margin: 20px auto;
}

#courses h2 {
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 280%;
}

#content {
    display: flex;
    flex-direction: column;
}

#childimage {
    min-height: 120px;
    width: 100%;
    margin-left: 18px;
    /*Used if the image is unavailable*/
    background-color: lightblue;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#meet {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(220, 173, 170, 0.2);
    border-radius: 8px;
    float: left;
    width: 33%;

}

.meetings {
    line-height: 20px;
    clear: both;
    flex-direction: column;
}

#place {
    list-style-type: none;
}

#course-content-id {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(132, 172, 222, 0.2);
    border-radius: 8px;
    width: 66%;
    float: right;

}

.course-content-class {
    line-height: 20px;
    clear: both;
    flex-direction: column;
}

#course-content {
    list-style-type: none;
}

#additional-information {
    list-style-type: none;
}

#add-information {
    line-height: 20px;
    /*margin center the div*/
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(132, 172, 222, 0.2);
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

#content p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 4px 0;
}

/*YouTube video aspect ratio 16:9*/
.container {
    display: flex;
    padding-left: 20px;
    width: 90%;
    margin: auto;
    align-items: center;
}

/*about-us-section*/
#about {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#about h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 280%;
}

#aboutus {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

#about h2 {
    margin-bottom: 20px;
}

#ask {
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

/*images for about us section*/
#jumpimage {
    min-height: 170px;
    width: 90%;
    margin-left: 10px;
    background: url("../images/jump.jpg") no-repeat center center/cover;
    /*Used if the image is unavailable*/
    background-color: lightblue;
    border-radius: 50px;
}

#smileimage {
    min-height: 120px;
    width: 90%;
    margin-left: 10px;
    margin-right: 39px;
    background: url("../images/smile.jpg") no-repeat bottom center/cover;
    /*Used if the image is unavailable*/
    background-color: lightblue;
    justify-content: center;
    border-radius: 8px;
}

#skijouring {
    min-height: 130px;
    width: 90%;
    margin-left: 10px;
    margin-right: 39px;
    background: url("../images/skijouring.jpg") no-repeat bottom center/cover;
    /*Used if the image is unavailable*/
    background-color: lightblue;
    justify-content: center;
    border-radius: 8px;
}

#submit {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.inner-right {
    background-color: rgb(220, 173, 170, 0.2);
    font-family: "Philosopher", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 90%;
}

/*Footer*/
#social-media {
    text-align: center;
    padding: 22px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    padding: 5%;
    color: #3a3a3a;
}

footer {
    background-color: #ffffff;
    bottom: 0;
    z-index: 3;
    color: #252525;
}

/* Media query: mobilephones and larger (316px and up) */
@media screen and (min-width: 316px) {
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 77px;
    }

    /*Hero section cover text*/
    #cover-text {
        top: 26%;
    }

    /*YouTube video aspect ratio 16:9*/
    .container {
        width: 250px;
        height: 141px;
        margin-left: 10px;
    }

    /*about-us-section*/
    #jumpimage,
    #smileimage,
    #skijouring {
        min-height: 200px;
    }
}

/* Media query: mobilephones and larger (448px and up) */
@media screen and (min-width: 448px) {
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 42px;
    }

    /*Hero section cover text*/
    #cover-text {
        top: 29%;
        font-size: 100%;
    }

    /*experience-text under hero-image*/
    #experience {
        font-size: 280%;
    }

    #childimage {
        min-height: 170px;
    }

    /*YouTube video aspect ratio 16:9*/
    .container {
        width: 370px;
        height: 208px;
        margin-left: 16px;
    }

    /*about-us-section*/
    #jumpimage,
    #smileimage,
    #skijouring {
        min-height: 280px;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        line-height: 75px;
        font-size: 280%;
        margin: 0 0.5rem;
    }

    /* Main content */
    #main {
        /* Push main content down to accommodate larger header */
        margin-top: 150px;
    }

    /*Hero section cover text*/
    #cover-text {
        width: 300px;
        top: 50%;
        font-size: 120%;
    }

    /*experience-text under hero-image*/
    #experience {
        font-size: 240%;
    }

    /*courses section*/
    #meet {
        margin-right: 30px;
        display: flex;
    }

    #meet>div {
        display: flex;
    }

    #course-content-id {
        display: flex;
    }

    #info {
        margin-right: 30px;
    }

    #childimage {
        min-height: 300px;
    }

    .container {
        width: 640px;
        height: 360px;
        margin-left: 10px;
    }

    /*about-us-section*/
    #jumpimage,
    #skijouring,
    #jumpimage {
        min-height: 480px;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /*Hero section cover text*/
    #cover-text {
        top: 64%;
        font-size: 140%;
    }

    /*courses section*/
    #childimage {
        min-height: 380px;
        width: 95%;
    }

    /*about-us-section*/
    #jumpimage {
        min-height: 620px;
    }
}

/* Media query: desktop (1200px and up) */
@media screen and (min-width: 1200px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /*Hero section cover text*/
    #cover-text {
        top: 72%;
        width: 350px;
        font-size: 160%;
    }

    /*courses section*/
    #childimage {
        min-height: 840px;
    }
}