/*Google fonts import*/
<style>@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Philosopher&display=swap');
</style>
/*Asterisk wildcard selector to override all default styles on the page added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Gereral styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #ffffff;
}
/*Header*/
header {
    background-color: white;
 }
/* Main content */
main {
    background-color: lightblue
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}
/*Footer*/
footer {
    background-color: white;
}